<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>TODO PAGE</h3>
<!-- 
    <% for(let todo of todos) { %>
        <li> <%= todo %> </li>
     <% } %>   
     -->


   <!-- <% todos.forEach(todo=>{ %>
   <li> <%= todo %> </li>
   <% }) %> -->


   
</body>
</html>