<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        <input type="text" name="firstName" placeholder="Enter firstname"> <br>
        <input type="text" name="lastName" placeholder="Enter Lastname"> <br>
        <input type="number" name="age" placeholder="Enter Age"><br>
        <input type="text" name="profession" placeholder="Enter profession"><br>
        <button>Submit</button>
    </form>
    
</body>
</html>