<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>List of users</h2>

       <p>FirstName: <%= user.firstName %></p>
       <p>Lastname: <%= user.lastName %></p>
       <p>Age: <%= user.age %></p>
       <p>profession: <%= user.profession %></p>
    
</body>
</html>