<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- 
    <div class="card-body mt-4"> 
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">₹<%= product.price %></p>
        <p class="card-text"><%= product.description %></p>
        <a href="" class="btn btn-sm btn-primary">Buy Now</a>
        <a href="" class="btn btn-sm btn-success">Add to Cart</a>
        <form class="d-inline" action="" method="">
          <button class="btn btn-sm btn-danger">Delete</button> -->
      <!-- </form>
        <a href="" class="btn btn-sm btn-secondary">Edit</a>
      </div>
     -->
</body> -->
</html>