/* by defualt font size is 16px */
/* import kar sakta hai tu google fonts se import karke seedhe css file mai  */
p{
    font-size: 30px;
    font-family:  monospace;
     font-weight: 900px;
     font-style: italic;
     text-align: center;
}


/* coolers.co */





