<% layout('/layouts/boilerplate') -%>


<div class="container mt-5 text-center">
    <h1 class="display-4 text-darker">Oops! Something went wrong.</h1>
    <p class="lead"><%= error.message || 'An unexpected error occurred.' %></p>
    <% if (error.status) { %>
      <p class="text-muted">Status Code: <%= error.status %></p>
    <% } %>

    <% if (error.stack) { %>
      <details class="text-start mt-4">
        <summary>Stack Trace</summary>
        <pre><%= error.stack %></pre>
      </details>
    <% } %>

    <a href="/products" class="btn btn-sm btn-danger mt-4">Go Back Home</a>
  </div>
