<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h2>ADD A USER</h2>
    <form action="/users" method="post">
        <input type="text" placeholder="FIRSTNAME" name="firstName"> <br><br>
        <input type="text" placeholder="LASTNAME" name="lastName"> <br><br>
        <input type="number" placeholder="AGE" name="age"><br> <br>

        <label for="male">Male</label>
        <input  id="male" type="radio" name="gender" value="male"> 

        <label for="female">Female</label>
        <input id="female" type="radio" name="gender" value="female" >

    
        <label for="other">Other</label>
        <input id="other" type="radio" name="gender" value="other"> <br><br>

        <input type="text" placeholder="PROFESSION" name="profession"><br><br>
        <button>Submit</button>
    </form>

</body>

</html>