<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/todos/<%= todo.id %>?_method=PUT">
        <input name="Task" type="text" value="<%= todo.Task %>" placeholder="Enter Task Todo"> <br>
        <button type="submit">Save</button>
      </form>      
</body>
</html>