<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>Todo Details</h3>

  <div style="border: 2px solid black; margin-bottom: 10px;">
    <p>Task: <%= todo.Task %></p>
  </div>
</body>
</html>